$skyBlue:#95f1fe;
*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
}
img{
    max-width: 100%;
}
.d-none{
    display: none;
}
header{
    background: linear-gradient(90deg, #F17768, #F6854F);
    height:60px;
    display: flex;
    color:#fff;
    align-items: center;
    padding: 0 20px;    
    justify-content: space-between;
    padding-right: 16px;
    .left{
        display: flex;
        align-items: center;
    }
    .right{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .bell{
            // background-color: #F17768;
            // border-radius: 50%;
            // width: 34px;
            // height: 34px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 16px;
            // svg{
            //     width: 18px;
            //     height: 18px;
            // }
            img{
                height: 38px;
            }
        }
        .menu{
            color: #000;
            font-size: 18px;
        }
    }
    img.logo{
        height: 38px;
        margin-right: 8px;
    }
    p{
        margin: 0;
    }
}
.tab-section{
    display: flex;
    justify-content: space-between;
    // align-items: flex-end;
    // padding-top: 10px;
    .tab{
        text-align: center;
        padding-top: 6px;
        padding-bottom: 4px;
        font-size: 14px;
        img{
            width: 32px;
        }
    &.active{
        border-bottom: 2px solid #F6854F;
    }    
    }
    span{
        text-align: center;
        display: block;
        font-size: 14px;
    }
}
.normal_booking{
    padding: 10px 10px;
}
.options{ 
    padding: 3px;
    background-color: #F1F1F1;
    .flex{
    display: flex;
    button{
        border: none;
        background-color: #fff;
        text-align: center;
        width: 33.33%;
        padding: 6px 0;
        border: 2px solid #F1F1F1;
        img{
            width: 20px;
            object-fit: contain;
            &.bightness-0{
                filter: brightness(0);
            }
        }
        p{
            text-transform: uppercase;
            color: #d62e07;
            padding-top: 3px;
            font-size: 12px;
            font-family: "Roboto", sans-serif;
        }
    }
}
}
.footer{
    position: fixed;
    bottom: 0;
    padding: 0 10px;
}
header.header_with_back{
    color: #fff;
    background: linear-gradient(90deg, #FD7665, #F6854F);
    .left{
        button{
            background-color: transparent;
            padding: 0;
            border:none;
            margin-right: 8px;
            i{
                color: #fff;
                font-size: 17px;
            }
        }
        .text{
            p{
                font-size: 18px;
            }
        }
    }
}
.heading{
    background-image: url('../images/icons/titles_bg_uts.png');
    padding: 6px 10px;
    width: calc(100% - 20px);
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    .icon{
        width: 32px;
        padding: 0;
        margin-right: 12px;
    }
    span{
        text-transform: uppercase;
        color: #fff;
    }
}
.list{
    padding: 0 10px;
    padding-top: 12px;
    overflow-y: scroll;
    height: 100vh;
    a{
        text-decoration: none;
        color: #000;
    }
    img.image{
        width: 100%;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    .card{
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 3px 9px 5px rgba(0,0,0,0.1);
        margin-bottom: 16px;
        position: relative;
    table{
        width: 100%;
        border-spacing: 0;
        position: relative;
        thead{
            tr{
                th{
                    font-size: 13px;
                    font-family: "Roboto", sans-serif;
                    img{
                        width: 14px;
                    }
                    &:first-child{
                        text-align: left;
                        border-right: 1px solid #f1f1f1;
                    }
                    &:last-child{
                        text-align: right;
                    }
                    background-color: $skyBlue;
                    width: 50%;
                    padding: 6px 6px;
                    text-transform: uppercase;
                }
            }
        }
        tbody{
            tr{
                td{
                    border-bottom: 1px solid #f1f1f1;
                    padding: 6px 0;
                    font-size: 14px;
                    border-right: 1px solid #f1f1f1;
                    &:last-child{
                    border-right: none;
                    }
                    .location{
                        display: flex;
                        align-items: center;
                    }
                    span{
                        font-size: 16px;
                    }
                    img{
                        width: 20px;
                        margin-right: 4px;
                    }
                    table{
                        tbody{
                            tr{
                                td{
                                    font-size: 12px;
                                    text-align: center;
                                    padding: 6px 0;
                                    &:first-child{
                                        text-align: left;
                                        padding: 6px 0;
                                        text-transform: capitalize;
                                    }
                        span{
                            color: #F17768;
                            font-size: 12px;
                            text-transform: uppercase;
                            &.via{
                                font-size: 14px;
                                font-weight: 600;
                                margin-left: 3px;
                            }
                        }
                                }
                            }
                        }
                    }
                }
                &:first-child{
                    td{
                        text-transform: uppercase;
                        padding: 10px 8px;
                    }
                }
                    td.b-b-0{
                        border-bottom: none;
                        padding: 0;
                    }
            }
        }
    }
    img.stamp{
        width: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .action{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 6px;
        padding-bottom: 2px;
        button{
            color: #F17768;
            text-transform: uppercase;
            padding: 0;
            background-color: transparent;
            border: none;
            font-size: 11px;
            font-weight: 600;
            display: flex;
            align-items: center;
            img{
                width: 20px;
                margin-right: 2px;
            }
            i{
                margin-right: 8px;
                color: #000;
            }
        }
    }
}
}
.screen2{
    .booking-history{
        margin-top: 12px;
    }
}
.screen3{
    .ticket-history{
        margin-top: 12px;
       .text{
        text-align: center;
        padding: 0 20px;
        padding-top: 16px;
        p{
            font-size: 14px;
            margin-bottom: 24px;
        }
        button{
            background-color: #F17768;
            border-radius: 30px;
            border: none;
            text-transform: uppercase;
            color: #fff;
            padding: 8px 20px;
            font-size: 14px;
        }
    }
    }
    
}

.show-ticket{
    .header{
        marquee{
            padding: 10px 0;
            font-size: 17px;
            font-weight: bold;
            font-family: "Roboto", sans-serif;
            color: rgb(96,109,179);
            margin: 0 52px;
            padding-top: 19px;
        }
        .flex{
            display: flex;
            justify-content: space-between;
            padding: 0 16px;
            position: absolute;
            top:10px;
            width: 100%;
            img{
                height: 40px;
            }
        }
    }
    .container{
        padding: 0 10px;
    }
    .ticket-container{
        margin-top: 10px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        border-radius: 8px;
    .ticket{
        // background-color: rgb(144,212,216);
        background-color: #69dce3;
        padding: 12px 16px;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        .title{
            text-transform: uppercase;
            font-weight: 600;
            border-bottom: 1px solid #000;
            padding-bottom: 10px;
            padding-top: 8px;
        }
        .journey-date{
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            padding: 8px 0;
            font-size: 15px;
            position: relative;
            .date{
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 14px;
            }
        }
        .price-number{
            font-weight: 600;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            .price{
                img{
                    height: 12px;
                }
            }
        }
        .uts-no{
            font-size: 14px;
            font-weight: 600;
            border-bottom: 1px solid #000;
            margin-top: 4px;
            padding-bottom: 2px;
        }
        .source{
            padding: 10px 0;
            .flex{
                display: flex;
                align-items: center;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
            }
            .symbol{
                padding: 2px 6px;
                text-transform: uppercase;
                background-color: #8a269e;
                color: #fff;
                border-radius: 50%;
                font-size: 14px;
                margin-right: 6px;
            }
            .text{
                .english{
                    padding: 2px 0;
                }
            }
        }
        .person{
            font-size: 14px;
            span{font-weight: 600;
            &:last-child{
                margin-left: 10px;
            }
            }
        }
        .class-train-type{
            font-size: 14px;
            display: flex;
            margin-top: 6px;
            justify-content: space-between;
            text-transform: uppercase;
            border-bottom: 1px solid #000;
            padding-bottom: 5px;
            .class,.type{
                display: flex;
                align-items: center;
                .text{
                    font-weight: 600;
                    padding-left: 4px;
                }
            }
        }
    }
    .others{
        padding: 10px;
        font-size: 11px;
        a{
        color: #F17768;
        }
        p{
            
            color: rgb(8, 65, 116);
        }
    }
}
}