* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

img {
  max-width: 100%;
}

.d-none {
  display: none;
}

header {
  background: -webkit-gradient(linear, left top, right top, from(#F17768), to(#F6854F));
  background: linear-gradient(90deg, #F17768, #F6854F);
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 16px;
}

header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .right .bell {
  background-color: #F17768;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
}

header .right .bell svg {
  width: 18px;
  height: 18px;
}

header img {
  height: 38px;
  margin-right: 8px;
}

header p {
  margin: 0;
}

.tab-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tab-section .tab .icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #F17768;
  margin: 0 auto;
  margin-bottom: 6px;
}

.tab-section .tab img {
  width: 100%;
}

.tab-section .tab.active {
  border-bottom: 2px solid #F6854F;
  padding-bottom: 4px;
}

.tab-section span {
  text-align: center;
  display: block;
  font-size: 14px;
}

.normal_booking {
  padding: 10px 10px;
}

.options {
  padding: 4px;
  background-color: #F1F1F1;
}

.options .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.options .flex button {
  border: none;
  padding: 0 2px;
  background-color: transparent;
}

.options .flex button img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 0 10px;
}

header.header_with_back {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#FD7665), to(#F6854F));
  background: linear-gradient(90deg, #FD7665, #F6854F);
}

header.header_with_back .left button {
  background-color: transparent;
  padding: 0;
  border: none;
  margin-right: 8px;
}

header.header_with_back .left button i {
  color: #fff;
  font-size: 17px;
}

header.header_with_back .left .text p {
  font-size: 18px;
}

.screen2 .booking-history {
  margin-top: 12px;
}

.screen2 .booking-history .list {
  padding: 0 10px;
  padding-top: 12px;
}

.screen2 .booking-history .list img {
  width: 100%;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.screen3 .ticket-history {
  margin-top: 12px;
}

.screen3 .ticket-history img {
  padding: 0 10px;
}

.screen3 .ticket-history .text {
  text-align: center;
  padding: 0 20px;
}

.screen3 .ticket-history .text p {
  font-size: 14px;
}

.screen3 .ticket-history .text button {
  background-color: #F17768;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  color: #fff;
  padding: 8px 20px;
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */