* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

img {
  max-width: 100%;
}

.d-none {
  display: none;
}

header {
  background: -webkit-gradient(linear, left top, right top, from(#F17768), to(#F6854F));
  background: linear-gradient(90deg, #F17768, #F6854F);
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 16px;
}

header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .right .bell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
}

header .right .bell img {
  height: 38px;
}

header .right .menu {
  color: #000;
  font-size: 18px;
}

header img.logo {
  height: 38px;
  margin-right: 8px;
}

header p {
  margin: 0;
}

.tab-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tab-section .tab {
  text-align: center;
  padding-top: 6px;
  padding-bottom: 4px;
  font-size: 14px;
}

.tab-section .tab img {
  width: 32px;
}

.tab-section .tab.active {
  border-bottom: 2px solid #F6854F;
}

.tab-section span {
  text-align: center;
  display: block;
  font-size: 14px;
}

.normal_booking {
  padding: 10px 10px;
}

.options {
  padding: 3px;
  background-color: #F1F1F1;
}

.options .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.options .flex button {
  border: none;
  background-color: #fff;
  text-align: center;
  width: 33.33%;
  padding: 6px 0;
  border: 2px solid #F1F1F1;
}

.options .flex button img {
  width: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.options .flex button img.bightness-0 {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.options .flex button p {
  text-transform: uppercase;
  color: #d62e07;
  padding-top: 3px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 0 10px;
}

header.header_with_back {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#FD7665), to(#F6854F));
  background: linear-gradient(90deg, #FD7665, #F6854F);
}

header.header_with_back .left button {
  background-color: transparent;
  padding: 0;
  border: none;
  margin-right: 8px;
}

header.header_with_back .left button i {
  color: #fff;
  font-size: 17px;
}

header.header_with_back .left .text p {
  font-size: 18px;
}

.heading {
  background-image: url("../images/icons/titles_bg_uts.png");
  padding: 6px 10px;
  width: calc(100% - 20px);
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading .icon {
  width: 32px;
  padding: 0;
  margin-right: 12px;
}

.heading span {
  text-transform: uppercase;
  color: #fff;
}

.list {
  padding: 0 10px;
  padding-top: 12px;
  overflow-y: scroll;
  height: 100vh;
}

.list a {
  text-decoration: none;
  color: #000;
}

.list img.image {
  width: 100%;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list .card {
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  position: relative;
}

.list .card table {
  width: 100%;
  border-spacing: 0;
  position: relative;
}

.list .card table thead tr th {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  background-color: #95f1fe;
  width: 50%;
  padding: 6px 6px;
  text-transform: uppercase;
}

.list .card table thead tr th img {
  width: 14px;
}

.list .card table thead tr th:first-child {
  text-align: left;
  border-right: 1px solid #f1f1f1;
}

.list .card table thead tr th:last-child {
  text-align: right;
}

.list .card table tbody tr td {
  border-bottom: 1px solid #f1f1f1;
  padding: 6px 0;
  font-size: 14px;
  border-right: 1px solid #f1f1f1;
}

.list .card table tbody tr td:last-child {
  border-right: none;
}

.list .card table tbody tr td .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list .card table tbody tr td span {
  font-size: 16px;
}

.list .card table tbody tr td img {
  width: 20px;
  margin-right: 4px;
}

.list .card table tbody tr td table tbody tr td {
  font-size: 12px;
  text-align: center;
  padding: 6px 0;
}

.list .card table tbody tr td table tbody tr td:first-child {
  text-align: left;
  padding: 6px 0;
  text-transform: capitalize;
}

.list .card table tbody tr td table tbody tr td span {
  color: #F17768;
  font-size: 12px;
  text-transform: uppercase;
}

.list .card table tbody tr td table tbody tr td span.via {
  font-size: 14px;
  font-weight: 600;
  margin-left: 3px;
}

.list .card table tbody tr:first-child td {
  text-transform: uppercase;
  padding: 10px 8px;
}

.list .card table tbody tr td.b-b-0 {
  border-bottom: none;
  padding: 0;
}

.list .card img.stamp {
  width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.list .card .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6px;
  padding-bottom: 2px;
}

.list .card .action button {
  color: #F17768;
  text-transform: uppercase;
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 11px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list .card .action button img {
  width: 20px;
  margin-right: 2px;
}

.list .card .action button i {
  margin-right: 8px;
  color: #000;
}

.screen2 .booking-history {
  margin-top: 12px;
}

.screen3 .ticket-history {
  margin-top: 12px;
}

.screen3 .ticket-history .text {
  text-align: center;
  padding: 0 20px;
  padding-top: 16px;
}

.screen3 .ticket-history .text p {
  font-size: 14px;
  margin-bottom: 24px;
}

.screen3 .ticket-history .text button {
  background-color: #F17768;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  color: #fff;
  padding: 8px 20px;
  font-size: 14px;
}

.show-ticket .header marquee {
  padding: 10px 0;
  font-size: 17px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #606db3;
  margin: 0 52px;
  padding-top: 19px;
}

.show-ticket .header .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 16px;
  position: absolute;
  top: 10px;
  width: 100%;
}

.show-ticket .header .flex img {
  height: 40px;
}

.show-ticket .container {
  padding: 0 10px;
}

.show-ticket .ticket-container {
  margin-top: 10px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.show-ticket .ticket-container .ticket {
  background-color: #69dce3;
  padding: 12px 16px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding-bottom: 6px;
}

.show-ticket .ticket-container .ticket .title {
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  padding-top: 8px;
}

.show-ticket .ticket-container .ticket .journey-date {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  padding: 8px 0;
  font-size: 15px;
  position: relative;
}

.show-ticket .ticket-container .ticket .journey-date .date {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 14px;
}

.show-ticket .ticket-container .ticket .price-number {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

.show-ticket .ticket-container .ticket .price-number .price img {
  height: 12px;
}

.show-ticket .ticket-container .ticket .uts-no {
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #000;
  margin-top: 4px;
  padding-bottom: 2px;
}

.show-ticket .ticket-container .ticket .source {
  padding: 10px 0;
}

.show-ticket .ticket-container .ticket .source .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

.show-ticket .ticket-container .ticket .source .symbol {
  padding: 2px 6px;
  text-transform: uppercase;
  background-color: #8a269e;
  color: #fff;
  border-radius: 50%;
  font-size: 14px;
  margin-right: 6px;
}

.show-ticket .ticket-container .ticket .source .text .english {
  padding: 2px 0;
}

.show-ticket .ticket-container .ticket .person {
  font-size: 14px;
}

.show-ticket .ticket-container .ticket .person span {
  font-weight: 600;
}

.show-ticket .ticket-container .ticket .person span:last-child {
  margin-left: 10px;
}

.show-ticket .ticket-container .ticket .class-train-type {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}

.show-ticket .ticket-container .ticket .class-train-type .class, .show-ticket .ticket-container .ticket .class-train-type .type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show-ticket .ticket-container .ticket .class-train-type .class .text, .show-ticket .ticket-container .ticket .class-train-type .type .text {
  font-weight: 600;
  padding-left: 4px;
}

.show-ticket .ticket-container .ticket .via {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #000;
  padding: 2px 0;
}

.show-ticket .ticket-container .ticket .via .symbol {
  padding: 2px 6px;
  background-color: #8a269e;
  color: #fff;
  border-radius: 50%;
  font-size: 14px;
  margin-right: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.show-ticket .ticket-container .ticket .codes {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  font-size: 14px;
  padding: 2px 0;
}

.show-ticket .ticket-container .ticket .codes span {
  font-weight: 600;
}

.show-ticket .ticket-container .ticket .note {
  padding-top: 6px;
  padding-bottom: 8px;
  padding-left: 4px;
  font-size: 14px;
}

.show-ticket .ticket-container .ticket .distance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 30px;
  margin-bottom: 8px;
}

.show-ticket .ticket-container .ticket .distance span {
  font-size: 12px;
}

.show-ticket .ticket-container .ticket .distance span.code {
  font-size: 14px;
  font-weight: 600;
}

.show-ticket .ticket-container .ticket .booking-time {
  font-size: 14px;
}

.show-ticket .ticket-container .ticket .booking-time span {
  font-weight: 600;
}

.show-ticket .ticket-container .others {
  padding: 10px;
  font-size: 11px;
}

.show-ticket .ticket-container .others a {
  color: #F17768;
}

.show-ticket .ticket-container .others p {
  color: #084174;
}

.show-ticket .ticket-container .others .alert {
  color: red;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  margin: 8px auto;
}

.show-ticket .ticket-container .others button.btn {
  border: none;
  background-color: #F17768;
  border-radius: 30px;
  color: #fff;
  display: block;
  padding: 8px 8px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  width: calc(100% - 20px);
  margin-bottom: 12px;
}

.show-ticket .ticket-container .others button.btn:last-child {
  margin-bottom: 6px;
}

.show-ticket .footer {
  position: fixed;
  bottom: 4px;
  width: 100%;
  left: 0;
  text-align: center;
  color: #000;
  font-weight: 600;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */